*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}
:root {
    --white: #FFF;
    --dark: #1B2735;
    --black: #090A0F;
    --orange-base: #F24141;
    --dark-red: #D32F2F;
    --crimson-red: #C62828;
    --coral-red: #FF6F61;
    --ruby-red: #E53935;
    --magenta-red: #FF1744;
    --purple-red: #AD1457;
    --garnet-red: #B71C1C;
    --pinkish-red: #FF5252;
    --wine-red: #B22222;
    --wine-red-less: #b14343;
    --textgray: #cccccc;
    --darkgray: #555;
    --green: #06D001;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --radius-8: 8px;
    --teal: #3BA39D;
    --light-white: #F5F7FA;
    --light-orange: #FF8552;
    --dark-gray: #2B2B2B;
    --dark-teal: #01726F;
    --pastel-orange: #F5A06A;
    --light-gray: #EDEDED;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
    transition: background-color 1s ease;
    overflow-x: hidden; /* Desactivar la barra de desplazamiento horizontal */
    display: block;
    
}
body::-webkit-scrollbar{
    background:  var(--scroll);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: var(--orange);
}
body::-webkit-scrollbar-thumb:hover{
    background: var(--darkorange);
}
header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    z-index: 99999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navbar-item {
    margin: 0 15px;
}

.navbar-item a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: color 0.3s;
}

.navbar-item a:hover {
    color: #7a7a7a;
}


.divider {
    color: white;
    margin: 0 10px;
}

.language-toggle {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.language-toggle .lang-btn {
    padding: 5px 15px;
    font-size: 14px;
    color: white;
    background-color: #444;
    transition: background-color 0.3s;
    flex: 1;
    text-align: center;
    border-radius: 30px;
}
.theme-toggle-B {
    background: none;             
    border: none;                 
    cursor: pointer;                
    display: flex;               
    justify-content: center;      
    align-items: center;          
    border-radius: 50%;           
}
.theme-toggle-B i {
    font-size: 34px;              
    color: white;                
    transition: color 0.3s;       
}
.theme-toggle-B i:hover {
    color: var(--orange-base);
}


#btn-es.active {
    background: linear-gradient(90deg, #6a00ff, #b84dff);
    color: white;
    border-radius: 30px 0 0 30px;
}

#btn-en.active {
    background: linear-gradient(90deg, #6a00ff, #b84dff);
    color: white;
    border-radius: 0 30px 30px 0;
}

.language-toggle #btn-es {
    background-color: #333;
    border-radius: 30px 0 0 30px;
}

.language-toggle #btn-en {
    background-color: #333;
    border-radius: 0 30px 30px 0;
}

.language-toggle #btn-es:hover,
.language-toggle #btn-en:hover {
    background-color: #7a7a7a;
}

@keyframes SlideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes SlideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes SlideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes SlideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.main-container {
    max-width: 1280px; /* Similar to the Tailwind 'container' class */
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 100%;
    padding-left: .75rem;
    padding-right: .75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative; /* Similar to 'relative' in Tailwind */
    z-index: 10; /* Similar to 'z-10' in Tailwind */
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}
.bento-container {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-auto-rows: 150px;
    gap: 1.3rem;
    width: 100vw;
    box-sizing: border-box;
    background-image: radial-gradient(circle farthest-side at 50% 100%, var(--garnet-red), rgba(84, 61, 199, 0));
    overflow: hidden;
}

.bento-item {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    border-color: rgba(148, 163, 184, 0.1);  /* Color del borde */
    border-width: 2px;                       
    border-radius: 0.75rem;                 
    border-style: solid;
    padding: 5px;
    & h3{
        font-size: 2.25rem;
        padding: 5px 5px 0 5px;
        color: var(--textgray);
        font-weight: 700;
        margin-bottom: 10px;
        background-image: linear-gradient(to right, var(--tw-gradient-stops));
        --tw-gradient-from: #FF0000 var(--tw-gradient-from-position); /* Rojo puro */
        --tw-gradient-to: rgba(255, 0, 0, 0) var(--tw-gradient-to-position); /* Rojo Transparente */
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: rgba(255, 75, 75, 0) var(--tw-gradient-to-position); /* Rojo suave Transparente */
        --tw-gradient-stops: var(--tw-gradient-from), #FF1744 var(--tw-gradient-via-position); /* Rojo vivo */
        --tw-gradient-to: #B22222 var(--tw-gradient-to-position); /* Rojo oscuro */
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
    
}

.header {
    padding: 0 2rem 2rem 2rem;
    grid-column: 1 / 3; /* Ocupa dos columnas */
    grid-row: 1/ 3; /* Ocupa solo la primera fila */
    & h1{
        font-size:  2.25rem;
        font-weight: 700;
        color: var(--white);
        padding: 5px 5px 0 5px;
        align-items: left;
    }
    & p{
        padding: 0 5px 0 5px;
        line-height: 1.5;
        font-size: 15px;
        font-weight: 500;
        text-align: left;
        color: var(--textgray);
    }
}
.social-links{
    grid-column: 5 / 7;
    grid-row: 1 /2;
}

.studies {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}
.cv{
    grid-column: 5 / 7;
    grid-row: 4 / 4;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.descargar-cv {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--textgray);
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cv:hover .descargar-cv {
    color: #fff;
    background-color: var(--crimson-red);
}
.Soft-Skills{
    grid-column: 7 / 9;
    grid-row: 5 / 3;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--dark-teal);
    background: linear-gradient(735deg, var(--dark-teal), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:2px solid var(--teal);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    overflow: hidden;
}

  .card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    & h2{
        font-size: 44px;
        color: var(--orange-base);
                background: linear-gradient(170deg, var(--light-orange), var(--dark-red));
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-weight: 500;
                font-family: "Thunder","Impact", Arial, Helvetica, sans-serif;
    }
    & p{
        font-size: 13px;
        color: var(--textgray);
    }
  }


.avatar {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
    & img{
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        animation: SlideLeft 1s ease forwards;
        animation-delay: .7s;
        transition: opacity 0.5s ease;
        filter: drop-shadow(0 0 10px var(--coral-red));
        z-index: 3;
    }
}

.contact {
    grid-column: 1 / 3; /* Ocupa dos columnas */
    grid-row: 3 / 4; /* Ocupa las filas 2 y 3 */
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--textgray);
}
.contact .contact-tag {
    width: 50%;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #111; /* Dark background to match the theme */
    color: var(--textgray);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.875rem;
    font-weight: 500;
}
.contact-tag i {
    margin-right: 0.5rem;
    font-size: 1rem;
    color: var(--textgray);
}
.contact p {
    font-size: .8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #e6ebf1;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.contact-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #333;
    color: var(--textgray);
    font-size: .7rem;
    text-decoration: none;
    border: 2px solid #555;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.contact-button:hover {
    color: #fff;
    border-color: white;
}

.Tittle {
    grid-column: 3 / 7;
    grid-row: 4 / 2;
    text-align: center;
    overflow: hidden;
    & article .h2-big{
        font-family: "Thunder", Impact, 'Arial Narrow Bold', sans-serif;
        font-size: 12rem;
        text-transform: uppercase;
        text-align: center;
        background-color: #cccccc;
        color: transparent;
        text-shadow: 1px 1px 9.5px rgba(255, 255, 255, 0.705);
        -webkit-background-clip: text;
           -moz-background-clip: text;
                background-clip: text;
        margin: 0 auto;
        z-index: -100;
        width: 100%;
    }
    & .intro{
        width: 100%;
        text-align: center;
        .title {
            margin: 0;
            font-weight: 400;
            display: flex;
            justify-content: center;
            font-size: 2rem;

            h1 {
                font-size: 7.25rem;
                color: var(--orange-base);
                background: linear-gradient(170deg, var(--light-orange), var(--orange-base));
                -webkit-text-fill-color: transparent;
                background-clip: text;
                font-weight: 700;
                font-family: "Thunder","Impact", Arial, Helvetica, sans-serif;
                margin-left: -10px;
                margin-top: -95px;
                margin-bottom: -20px;
            }
        }
    }
}
.Pixel{
    grid-column: 1 / 5;
    grid-row: 5 / 4;
    & .available-hire {
        display: inline-flex;
        align-items: center;
        padding: 0.5rem 1rem;
        margin-left: 5px;
        width: 200px;
        border-radius: 1.5rem;
        background-color: #111; /* Dark background */
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.2);
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
    }
    
    & .available-hire:hover {
        background-color: #333; /* Slightly lighter on hover */
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    }
    
    & .available-hire span {
        font-size: 1rem;
        color: white;
        margin-left: 10px;
    }
}


.social-list {
    display: flex;
    padding: 2% 0;
    z-index: 2
}

.social-list>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.social-link {
    margin: 0 .5em;
    background-color: #0c0e10;
    font-size: 1.7rem;
    border-radius: 8px;
    border: 2px solid #262626;
    padding: .4rem;
    display: flex;
    color: var(--textgray);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out
}

.social-list>li>p {
    font-size: .7rem;
    color: #e6ebf193;
    font-weight: 700;
    padding-top: .5rem
}

.instagram:hover {
    rotate: -10deg;
    color: transparent;
    background-image: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    background-clip: text;
    border: 2px solid #dc2743;
    transition: all .1s;
}

.github:hover {
    rotate: 10deg;
    color: #fff;
    transition: all .1s;
    border: 2px solid #fff
}

.linkedin:hover {
    color: #0a66c2;
    rotate: -10deg;
    transition: all .1s;
    border: 2px solid #0a66c2
}

.discord:hover {
    rotate: 10deg;
    color: #7289d9;
    transition: all .2s;
    border: 2px solid #7289d9;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.glass2{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.folder-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.folder {
    position: relative;
    background-color: #2b2b42;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Crear el elemento sobresaliente en la parte superior del folder */
.folder::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    width: 60px;
    height: 20px;
    background-color: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.folder-header {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.browser-icon {
    width: 30px;
    height: 30px;
}

.folder-content h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.folder-content p {
    font-size: 1rem;
    color: #aaa;
}

/* Folder 2 styling */
.folder.green {
    background-color: #01d293;
}

/* Añadir el sobresaliente en el folder verde */
.folder.green::before {
    background-color: #01d293;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .skill-bar {
    display: block;
    width: 100px;
    height: 5px;
    background: linear-gradient(to right, #ff0000e7, #ff8c00);
    margin-top: 5px;
  }